// removing annoying yellow background
input {
  border: 0;
  font-family: $mainfont;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px $color-white inset;
}

.form {
  width: 100%;
}

.formField {
  &-input, &-select {
    display: flex;
    border-bottom: solid 1px $color-positive-lighter;
    transition: all $fastest ease;
    &.active {
      .input label, .select label {
        top: 0;
      }
    }
    
    &.focus {
      border-color: $color-focus;
      
      .input input, .select button {
        color: $color-main;
      }
    }
    
    &.disabled {
      border-bottom: dotted 1px $color-positive-lighter;
      .input input, .select button {
        color: $color-positive-lighter;
        cursor: not-allowed;
      }
    }

    &.error{
      border-color: $color-fb-negative;
      
      .input input, .select button {
        color: $color-main;
      }
    }
    
    &.email-error:after{
        content: url("../images/warning.svg");
        position: relative;
        top: 14px;
        right: 0px;
    }
    .input, .select {
      flex: 1 1 100%;
      position: relative;
      
      label {
        color: $color-positive-light;
        font-size: $font-size-xs;
        line-height: 16px;
        pointer-events: none;
        position: absolute;
        top: $spacing*2;
        right: 0;
        left: 0;
        transition: all $fastest ease;
      }
      
      input, button {
        background-color: transparent;
        padding: $spacing*2 0 $spacing;
        width: 100%;
        font-size: $font-size-s;
        line-height: 16px;
      }

      button {
        cursor: pointer;
        border: 0;
        text-align: left;
        width: 72px;
        height: 40px;
        padding: 16px 0px 8px;
        &:after{
          content: url("../images/arrow.svg");
          position: absolute;
          top: 14px;
          right: 0px;
        }
      }
      
      .popup{
        display: none;
        font-size: $font-size-l;
        position: absolute;
        left: -3px;
        min-width: 200px;
        max-height: 180px;
        z-index: 5;
        background-color: $color-white;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: 3px;
        box-shadow: 2px 2px 5px 5px $color-shadow-light;
        cursor: pointer;
          .select-group-list{
            .select-option{
              margin: 10px 20px 20px 20px;
              display: flex;
              justify-content: space-between;
            &-flag{

            }
            &-name{

            }
            &-prefix{

            }
          }
        }
        // .bottom-fade{
        //   content:"";
        //   position: relative;
        //   // margin-top:
        //   height: 30px;
        //   z-index: 10;
        //   background-image: linear-gradient(to top, white, transparent);
        // }
      }
      .dropdown-fade{
        //transition
      }

      .dropdown-back{
        //transition
      }
      .select-open{
        display: block;
      }
    }
  }
}
